body {
    background-color: darkgray;
}
h1 {
    font-family: 'Megrim' ;

}
.container {
    font-family: 'Spartan' ;
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 2);
    max-width: 400px;
}
.todos li {
    background: #435a6f;
}

.delete {
    cursor: pointer;
}

.filtered{
    display: none !important;
}